/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}
.text-uppercase {
  text-transform: uppercase;
}
.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}
.logo{
  float: right;
}
header{
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}
.menu{
  padding: 14px 70px;
  overflow: auto;
}
#home{
  background-image: url(../assets/images/bg-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 554px;
    text-align: center;
    margin-top: 80px;
}
#home .container{
  color: white;
  padding: 70px;
}
.text-home{
  font-size: 53px;
}
.btn-home{
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}
#services{
  background-color: #f17c72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}
.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;	
}
.text-services{
	font-size: 35px;
	letter-spacing: 2px;
}

 #box-services-modal .modal-body{
 	width: 60%;
 	margin: 0 auto;
 	text-align: center;
 	padding: 100px;
 }

 #box-services-modal .modal body h5,#box-services-modal .modal body h6{
 	color: white;
 }

 #box-services-modal .modal body h5{
 	font-size: 2em;
 }

 #box-services-modal .modal body h5{
 	font-size: 1.5em;
 }

 #box-services-modal .close{
 	position: absolute;
 	top: 20px;
 	right: 20px;
 	width: 50px;
 }

 #box-services-modal .close img{
 	width: 70px;
 }

.hide{
 	display: none;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.m-0 {
    margin: 2px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row::before,
.row::after {
    content: '';
    display: table;
}

.row:after {
    clear: both;
}

[class*='col-'] {
    min-height: 7px;
    float: left;
    padding: 12px;
}

.col-1 {
    /* (1/12) x 100 */
    width: 8.333333%;
}

.col-2 {
    /* (2/12) x 100 */
    width: 16.666667%;
}

.col-3 {
    /* (3/12) x 100 */
    width: 25%;
}

.col-4 {
    /* (4/12) x 100 */
    width: 33.333333%;
}

.col-5 {
    /* (5/12) x 100 */
    width: 41.666667%;
}

.col-6 {
    /* (6/12) x 100 */
    width: 50%;
}

.col-7 {
    /* (7/12) x 100 */
    width: 58.333333%;
}

.col-8 {
    /* (8/12) x 100 */
    width: 66.666667%;
}

.col-9 {
    /* (9/12) x 100 */
    width: 75%;
}

.col-10 {
    /* (10/12) x 100 */
    width: 83.333333%;
}

.col-11 {
    /* (11/12) x 100 */
    width: 91.666667%;
}

.col-12 {
    /* (12/12) x 100 */
    width: 100%;
}

.img-responsive {
    max-width: 100%;
    width: 100%
}

footer{
	text-align: center;
	height: 70px;
	background-color: #373b47;
	color: white;
	padding-top: 7px;
}